/*  For blog-1 

Made by Muhammad Anwar Ahmad
*/


/*  Fonts */


@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Pacifico&family=Parisienne&display=swap');

/*  Global CSS */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*  #Header CSS */


#header {
    width: 100%;
    height: 100vh;
    background-image: url(hasan-almasi-EdKimexziOA-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    
}


/* Nav-bar CSS */


.navbar-brand {
    font-family: 'Concert One', cursive;
    color: #000;
}
.nav-item {
    border: solid 2px transparent;
    transition: 1s;
}
.nav-item:hover {
    border-bottom: solid 2px #ffa500;
}
#header .main-title {
    width: 100%;
    display: flex;
    padding: 100px 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-title img {
    width: 150px;
    height: 200px;
}
.main-title h1 {
    color: #ffa500;
    font-family: 'Concert One', cursive;
}
.main-title p {
    color: #fff;
}


/* Blog Post CSS */


#post {
    width: 100%;
    height: 310vh;
    padding: 50px;
}
#post .title {
    text-align: center;
}
#post .title span {
    /* text-transform: uppercase; */
    font-family: 'Parisienne', cursive;
    font-weight: 800;
    color: crimson;
    font-size: 3rem;
    
}
.cards-wraper {
    width: 100%;
    height: 100%;
    padding: 50px 0px;
}
#post .post-card {
    width: 100%;
    height: 87vh;
    margin: 30px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px #083888;
    
}
#post .post-card img {
    width: 383px;
    height: 280px;
    border-top-left-radius: 9.5px;
    border-top-right-radius: 9.5px;
    transition: 1s;

}
#post .card-contents {
    padding: 10px 20px;
    position: relative;
}
#post .card-contents .btn {
    position: absolute;
    bottom: 0px;
    right: 30px;
}


/*  Footer CSS */


#footer {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
}
#footer .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#footer .contact li {
    list-style: none;
    margin: 10px 0px;
}
#footer .contact a {
    color: #fff;
    text-decoration: none;
}
#footer .contact img {
    width: 25px;
    height: 25px;
}
#footer .social a {
    margin: 0px 10px;
}
#footer .social img {
    width: 30px;
    height: 30px;
    filter: grayscale(1);
    transition: 1s;
}
#footer .social a:hover img {
    filter: grayscale(0);
}


/* Copyright  */


#copyright {
    width: 100%;
    height: 10vh;
    background-color: #083888;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* About Page */


#header-about {
    width: 100%;
    height: 50vh;
    background-image: url(hasan-almasi-EdKimexziOA-unsplash.jpg);
    background-position: 100% 20%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header-about .title {
    font-size: 3rem;
    color: #ffa500;
    font-family: 'Concert One', cursive;
}

#education {
    width: 100%;
    height: 100vh;
    background-image: url(jess-bailey-l3N9Q27zULw-unsplash.jpg);
    background-size: cover;
    background-position: 100% 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    flex-direction: column;
}
#education .title {
    text-align: center;
    text-transform: capitalize;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0px 0px 20px #083888;
}


/* Latest CSS */


.news-card {
    width: 90%;
    height: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.news-card .date {
    background-color: #4377d1;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.news-card .date p{
    line-height: 30px;
}
.news-card .date p:nth-of-type(1){
    font-size: 3rem;
    color: #ffa500;
}
.news-card .date p:nth-of-type(2){
    font-size: 2rem;
    color: crimson;
}
.news-card .contents {
    padding-top: 20px;
}
.news-card .contents h3 {
    text-align: center;
}
.line {
    width: 200px;
    height: 3px;
    background-color: crimson;
    margin: 0px auto;
}
.single-post {
    width: 100%;
    height: 100vh;
}
.single {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}
.single img {
    width: 90%;
    height: 50%;
    margin: 20px;
    box-shadow: 4px 4px 20px #000;
    border-radius: 10px;
}
.single p {
    padding: 20px 50px;
}




@media (min-width:700px){
    .main-title h1 {
        font-size: 6rem;
    }
    .main-title p {
        width: 900px;
    }
    #post {
        height: 210vh;
    }
    #post .post-card {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #post .post-card img {
        border-radius: 10px;
        box-shadow: 4px 4px 10px #000;
    }
    #post .card-contents {
        width: 800px;
    }
    #post .post-card:hover img {
        transform: scale(1.05);
    }
    #footer {
        flex-direction: row;
        justify-content: space-around;
    }
    #education .title {
        font-size: 4rem;
    }

    .news-card {
        width: 90%;
        height: 90%;
        margin: 20px auto;
        flex-direction: row;
        padding: 20px;
    }
    .news-card .contents {
        width: 600px;
        margin: 0px 40px;
    }
    .single img {
        width: 60%;
        height: 60%;
        box-shadow: 10px 10px 50px #000;
    }    
}